.bg-color-yellow {
  background-color: #FFE7AD;
}

.bg-color-pink {
  background-color: #F9B9B4;
}

.bg-color-orange {
  background-color: #FEC886;
}

.card {
  padding: 0.5rem 0;
  margin: 0.5rem;

  min-height: 250px;
  min-width: 225px;
  flex-basis: 18%;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.5fr;
  align-items: center;
  overflow: hidden;
}

.card__content {
  grid-column-start: 2;
  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
}

.card__content-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__content-emoji {
  font-size: 3rem;
}

.card__content-text, .card__content-emoji {
  padding: 0;
  margin: 0;
}

.delete-button {
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  margin-left: 30%;
  border-radius: 25px;
  font-size: smaller;
}

@media (min-width: 481px) and (max-width: 767px) {
  .card {
    min-height: 225px;
    min-width: 200px;
  } 

  .delete-button {
    font-size: 0.7em;
  }
}