.new-card-form__bg-color {
  background-color: #FFE099;
}

.new-card-form {
  padding: 1em 0;
  margin: 0.5rem;
  height: 250px;
  width: 225px;
  border-radius: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  box-shadow: 10px 10px 0px 0px #E29578;
}

.new-card-form__form-button {
  background-color: #f5847b;
  border: 1px solid #4a6163;
  font-size: 1em;
  border-radius: 5px;
}

.new-card-form__form-button:hover {
  background-color: #7cb518;
  font-style: italic;
}
