@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

* {
  box-sizing: border-box;
  background-color: #f9faf3;
  /* border: black 1px solid; */
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #4a6163;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
}

.header__h1 {
  margin: auto 0;
  font-weight: 800;
  font-size: 5rem;
  color: #f17a7e !important;
  margin-bottom: 15px;
  text-align: left;
}

.header__text--stroke {
  -webkit-text-stroke: 2px #f9a66c;
  color: rgba(0, 0, 0, 0);
}

textarea, input, button, select {
  font-family: inherit; 
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border-radius: 5px;
  width: 98%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__h1 {
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  * {
    box-sizing: content-box;
  }

  .header__h1 {
    font-size: 6rem;
    margin: 5% 10% 5% 0;
    max-width: 300px;
  }

  textarea, input, button, select {
    width: 90%;
  }
}